.appHeader {
  .logo {
    height: 4rem;
    border-radius: 50%;
  }

  .link {
    color: aqua;
    margin: 0 10px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

    }

  }

}
